/* You can add global styles to this file, and also import other style files */
.ml-2 {
  margin-left: 4px;
}
.ml-3 {
  margin-left: 6px;
}
.mt-0 {
  margin-top: 0;
}

.mt-2 {
  margin-top: 4px;
}
.mt-3 {
  margin-top: 6px;
}
.mt-4 {
  margin-top: 8px;
}
.mb-2 {
  margin-bottom: 4px;
}
.p-0 {
  padding: 0;
}
.text-danger {
  color: red;
}
.text-white {
  color: #fff;
}
.navbar-inverse {
  background-color: #542c2c;
  border-color: #080808;
}
.navbar-inverse .navbar-brand {
  color: #ff7513;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}
.ng-autocomplete {
  width: 100% !important;
}
body {
  background: #363131;
  font-family: sans-serif!important;
}
.container
{
  padding: 0!important;
}

.table
{
  color: #fff!important;
}